name: release
  
permissions:
    contents: write

on:
  workflow_call:
    inputs:
      tag:
        description: 'Tag to create'
        required: true
        default: 'v0.0.0'
        type: string

jobs:
  run:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout with tags
        run: git fetch --prune --unshallow --tags

      - name: Create release
        run: |
          git log --format="%C(auto) %H %s" `git tag --sort=-committerdate | head -1`...HEAD > changelog.txt
          echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
          gh release create ${{ github.event.inputs.tag }} -t ${{ github.event.inputs.tag }} -F changelog.txt

      - name: Create release
        run: |
          git config --global user.email "mmattox@support.tools"
          git config --global user.name "Matthew Mattox"
          git tag -a ${{ github.event.inputs.tag }} -m ${{ github.event.inputs.tag }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@94b86e1b0200cc3baefc577476f7d63bc69ad382
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
